body {
    background-color: #232323;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.1;
    background-color: #CCDDD3;
    margin: 0;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 2em;
    color: White;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
}

#correct {
    margin-right: 20%;
}

#message {
    display: inline-block;
    width: 20%;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 5%;
    transition: background-color .4s;
    -webkit-transition: background-color .4s;
    -moz-transition: background-color .4s;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
}

.selected {
    color: #B48B7D;
    background: #CCDDD3;
}

.score {
    color: white;
}

button {
    border: none;
    background: none;
    font-size: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 100%;
    font-weight: 700;
    color: #B48B7D;
    outline: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

button:hover {
    color: #B48B7D;
    background: #CCDDD3;
}

@media screen and (max-width: 430px) {
    h1 {
        font-size: 1.5em;
    }

    #colorDisplay {
        font-size: 1.25em;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin-top: 40px;
    }

    button {
        font-size: 0.75em;
        letter-spacing: 0;
        font: 300;
        margin: 0 2%;
    }

}